
.background{
  background: #3e4242;
  min-height: 50vh;
  width: 100%;

}
ul {
  padding: 0;
  list-style-type: none;
}
h2#header-text{
  text-align: center;
  padding: 0;

}
.list-items ul li a{

  color: #ffffff;
  transition: all 0.3s ease;
  text-decoration: none;
}
.list-items ul li a:hover{
  padding-left: 10px;
}
.list-items ul li{
  margin-top: 10px;
}
.list-items .col-3{
  min-width: fit-content;
}
.bar{
  background-color: #0A62BF;
  box-sizing: border-box;
  height: 2px;
  width: 50px;
}

img {
  max-width: 150px;
  height: auto;
}

h3{
  color:white;
}
h2{
  color:white;
}





