
.navbar-color{
  background-color: rgb(10, 98, 191,1.0);
}
a{
  color: white !important;
}

.dropdown-item{
  color: black !important;
}

.lang-select{
  border: none;
  max-width: fit-content;
  background-color: transparent;

}
select{
  color: white;
}
option{
  color: black;
}
.navbar-icon{
  font-size: xx-large;
}
.account-icon{
  color:white;
  font-size: 24px;
}
