<nav class="navbar navbar-expand-lg navbar-color navbar-light ">
  <div class="container-fluid">
    <a class="navbar-brand ms-3 pb-1" routerLink = "/">
      <i class="bi bi-book-half navbar-icon me-2"></i>
      Мониторинг вузов КР</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="me-auto"></div>
      <ul class="nav navbar-nav navbar-right">
        <li class=" ms-3">
          <a class="nav-link active" aria-current="page" routerLink = "/">{{"main" | translate}}</a>
        </li>
        <li class="nav-item ms-3">
          <a class="nav-link active" aria-current="page" routerLink = "journals">{{"archive" | translate}}</a>
        </li>

        <!-- for authors -->
        <li class="nav-item dropdown ms-3">
          <a class="nav-link dropdown-toggle" href="#" id="authorNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{"for_authors" | translate}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/markdown?id=requirements">{{"requirements" | translate}}</a></li>
            <li><a class="dropdown-item" href="/markdown?id=ethics">{{"ethics" | translate}}</a></li>
            <li><a class="dropdown-item" href="/markdown?id=price">{{"price" | translate}}</a></li>
            <li><a class="dropdown-item" href="/markdown?id=regulations">{{"regulations" | translate}}</a></li>
            <li><a class="dropdown-item" href="/markdown?id=contacts">{{"contacts" | translate}}</a></li>
            <li><a class="dropdown-item" href="/markdown?id=how_to_publish">{{"how_to_publish" | translate}}</a></li>
          </ul>
        </li>

        <li class="nav-item ms-3">
          <a class="nav-link active" aria-current="page" routerLink = "/markdown?id=stuff">{{"stuff" | translate}}</a>
        </li>
        <li class="nav-item ms-3">
          <a class="nav-link active" aria-current="page" routerLink = "/user/publish">{{"publish" | translate}}</a>
        </li>
        <li class="nav-item ms-3">
          <a class="nav-link active" aria-current="page" routerLink = "/handbook">{{"help" | translate}}</a>
        </li>

        <!-- Admin control -->
        <li class="nav-item dropdown ms-3" *ngIf="hasRole('Admin')">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{"admin" | translate}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink = "{{AdminJournalRoutes.manage}}">{{"journals" | translate}}</a></li>
            <li><a class="dropdown-item" routerLink = "{{AdminCategoryRoutes.manage}}">{{"categories" | translate}}</a></li>
            <li><a class="dropdown-item" routerLink = "{{AdminReviewerRoutes.manage}}">{{"reviewers" | translate}}</a></li>
            <li><a class="dropdown-item" routerLink = "{{AdminPriceRoutes.manage}}">{{"prices" | translate}}</a></li>
            <li><a class="dropdown-item" routerLink = "{{AdminTipRoutes.manage}}">{{"handbook" | translate}}</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="{{AdminMarkdownRoutes.manage}}">{{"pages" | translate}}</a></li>
          </ul>
        </li>

        <!-- Reviewer control -->
        <li class="nav-item dropdown ms-3" *ngIf="hasRole('Reviewer')">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownReviewer" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{"reviewer" | translate}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownReviewer">
            <li><a class="dropdown-item" routerLink = "/reviewer/articles/manage">{{"articles" | translate}}</a></li>
          </ul>
        </li>

        <select class="lang-select ms-3"
                id="category"
                [formControl]="selectedLang"
                (change)="onLangChange()"
                required
        >
          <option *ngFor="let lang of langs"
                  [value]="lang">{{lang}}
          </option>
        </select>

        <li class="nav-item ms-3 me-3" (click)="onProfileClicked()">
          <i class="bi bi-person-circle account-icon"></i>
        </li>



      </ul>


    </div>

  </div>
</nav>
