

.panel{
  width: fit-content;
  min-width: 200px;
  position: relative;
  top: 0;
  text-decoration: none;
  border-radius: 5%;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  background-color: rgb(10, 98, 191,0.8);
  transition: all 0.5s ease;
  cursor: pointer;
  /* Apply CSS Flexbox to center content vertically */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.panel-icon{
  font-size: 3em;
  color: white;
}

.panel:hover{
  background: linear-gradient(
      45deg,
      rgba(29, 236, 197, 0.5),
      rgba(91, 14, 214, 0.5) 100%
  );
  top: -10px;
}

h6{
  color:white;
}
h4{
  color:white;
}
h1{
  color: white;
}

