<div class="container-fluid pt-5">
  <div class="row mt-5 ">
    <div class="col-auto  ms-3 me-3 " (click)="onCriteria()">
      <div class="panel mb-3">
        <br>
        <h4 class="mt-3">{{'criteria' | translate}}</h4>
        <i class=" bi bi-card-checklist panel-icon"></i>
        <br class="mb-5">
        <br>
      </div>
    </div>
    <div class="col-auto ms-3 me-3" (click)="onReports()">
      <div class="panel mb-3">
        <br>
        <h4 class="mt-3">{{'reports' | translate}}</h4>
        <i class="bi bi-clipboard-data panel-icon "></i>
        <br class="mb-5">
        <br>
      </div>
    </div>
    <div class="col-auto ms-3 me-3">
      <div class="panel mb-3">
        <br>
        <h4 class="mt-3">{{'faq' | translate}}</h4>
        <i class=" bi bi-question-square panel-icon"></i>
        <br class="mb-5">
        <br>
      </div>
    </div>
  </div>

</div>

