

<body>
<div class="wrapper container pt-5">
    <h2 class="mt-5">{{'password_reset' | translate}}</h2>
    <div class = "col-lg-6 col-md-offset-1 mb-5">

        <form class="needs-validation">

            <mat-form-field appearance="outline"  class="w-100">
                <mat-label>{{'email' | translate}}</mat-label>
                <input matInput  placeholder="Введите почту" [formControl]="form.email"
                       [errorStateMatcher]="matcher">
                <mat-error *ngIf="form.email.hasError('required')">
                    Обязательное поле
                </mat-error>
                <mat-error *ngIf="form.email.hasError('email')">
                    Введите корректно почту
                </mat-error>
            </mat-form-field>

            <!-- pin input -->
            <mat-form-field  appearance="outline" class="w-100">
                <mat-label>{{'pin' | translate}}</mat-label>
                <input matInput  placeholder="Введите ПИН" [formControl]="form.pin"
                       [errorStateMatcher]="matcher">
                <mat-error *ngIf="form.pin.hasError('required')">
                    Обязательное поле
                </mat-error>

            </mat-form-field>
            <button class="btn btn-primary btn-sm ms-2"
                    type="button"
                    id="button-delete-author"
                    (click)="sendPin()"
            >
                {{'send_pin' | translate}}
            </button>
            <!-- new password input -->
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{'new_password' | translate}}</mat-label>
                <input matInput  placeholder="{{'enter_new_password' | translate}}" [formControl]="form.password"
                       [errorStateMatcher]="matcher">
                <mat-error *ngIf="form.password.hasError('required')">
                    Обязательное поле
                </mat-error>
            </mat-form-field>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 mt-3">
                        <input type="submit" name="login-submit" id="login-submit"
                               class="form-control btn btn-primary" value="{{'reset_password' | translate}}"
                               (click)="resetPassword()"
                        />
                    </div>
                </div>
            </div>
        </form>

        <div class="form-group mb-5">
            <span>{{'new_user' | translate}} <a routerLink="/register">{{'registration' | translate}}</a></span>
        </div>
    </div>
    <br>

</div>
</body>
