
<body>
<div class="container-fluid mt-5">
  <div class="row space-top">
    <div class="col-md-6 offset-md-1 mt-5">
      <h1 class="title">Мониторинг образования вузов КР</h1>
      <label>Мониторинг образования ведется в целях....</label>
    </div>
    <div class="col-md-3 title-image-container" >
      <img src="../../../assets/images/analytics.svg" alt="SVG Image" class="title-image mt-2">
    </div>
  </div>

  <swiper-container
    slidesPerView="{{slidesPerView}}"
    navigation="true"
    pagination="true"
    pagination-clickable="true"
    centeredSlides="true"

    class="mt-5"
  >
    <swiper-slide class="swiper-slide-content">
      <div class="panel mb-3">
        <br>
        <h4 class="mt-3">Нормативно-правовые акты</h4>
        <img src="../../../assets/images/archive-document.svg" class="panel-image">
        <br class="mb-5">
        <br>
      </div>
    </swiper-slide>
    <swiper-slide class="swiper-slide-content">
      <div class="panel mb-3">
        <br>
        <h4 class="mt-3">Глоссарий</h4>
        <img src="../../../assets/images/book-opened.svg" class="panel-image">
        <br class="mb-5">
        <br>
      </div>
    </swiper-slide>
    <swiper-slide class="swiper-slide-content">
      <div class="panel mb-3">
        <br>
        <h4 class="mt-3">Глоссарий</h4>
        <img src="../../../assets/images/book-opened.svg" class="panel-image">
        <br class="mb-5">
        <br>
      </div>
    </swiper-slide>
  </swiper-container>

  <div class="row space-top">
    <div class="col-md-6 offset-md-1 mt-5">
      <h1 class="title">Опубликованные данные</h1>
      <label>Перейдите на страницу для просмотра опубликованных данных. Там вы можете просмотреть показатели вузов по различным критериям  </label>
      <div class="end-position">
        <a href="#" class="btn btn-link me-5">Перейти</a>
      </div>

    </div>
    <div class="col-md-3 title-image-container" >
      <img src="../../../assets/images/analysis.svg" alt="SVG Image" class="title-image mt-2">
    </div>
  </div>


</div>
</body>
