
<body>
<div class="container-fluid mt-5">
  <div class="row space-top">
    <div class="col-md-6 offset-md-1 mt-5">
      <h1 class="title">Мониторинг образования вузов КР</h1>
      <label>Мониторинг образования ведется в целях....</label>
    </div>
    <div class="col-md-3 title-image-container" >
      <img src="../../../assets/images/analytics.svg" alt="SVG Image" class="title-image mt-2">
    </div>
  </div>

  <swiper-container
    slidesPerView="{{slidesPerView}}"
    navigation="true"
    pagination="true"
    pagination-clickable="true"
    centeredSlides="true"

    class="mt-5"
  >
    <ng-container *ngFor="let page of pages">
      <swiper-slide class="swiper-slide-content">
        <a class="panel mb-3" href="/markdown?id={{page.id}}">
          <br>
          <h4 class="mt-3">{{page.name}}</h4>
          <img [src]="AppApi.fileDownload+page.image" class="panel-image" alt="...">
          <br class="mb-5">
          <br>
        </a>
      </swiper-slide>
    </ng-container>
  </swiper-container>

  <div class="row space-top">
    <div class="col-md-6 offset-md-1 mt-5">
      <h1 class="title">Опубликованные данные</h1>
      <label>Перейдите на страницу для просмотра опубликованных данных. Там вы можете просмотреть показатели вузов по различным критериям  </label>
      <div class="end-position">
        <a href="#" class="btn btn-link me-5">Перейти</a>
      </div>

    </div>
    <div class="col-md-3 title-image-container" >
      <img src="../../../assets/images/analysis.svg" alt="SVG Image" class="title-image mt-2">
    </div>
  </div>


</div>
</body>
