

<body>
<div class="wrapper container pt-5">
  <h2 class="mt-5">{{'profile' | translate}}</h2>


  <!-- Form to change name  -->
  <div class = "col-lg-6 col-md-offset-1">
    <form class="needs-validation" novalidate [formGroup]="form.group" (ngSubmit)="onSubmit()" >
      <div class="form-group">
        <label class="control-label" for="email"> {{'person_name' | translate}} </label>
        <input type="text"
               id="email"
               class="form-control"
               [formControl]="form.name"
               placeholder="{{'enter_person_name' | translate}}"
               required autofocus="autofocus" />
        <div *ngIf="checkFormControl(form.name)"
             class="alert-danger">

          <div *ngIf="form.name.errors?.['required']">
            {{'enter_person_name' | translate}}
          </div>

        </div>
      </div>
      <div class="form-group">
        <div class="mt-3">
          <button type="button" name="login-submit" id="submit"
                  class="form-control btn btn-primary btn-sm w-25" (click)="onProfileUpdate()" > {{'update' | translate}} </button>

        </div>
        <hr class="w-100">
        <a class="ms-3" style="color: red" routerLink = "" (click)="onLogout()">{{'logout' | translate}}</a>
        <hr class="w-100">


      </div>
    </form>
  </div>
</div>
</body>

