
<body>
<div class="container pt-5 min-vh-100">
  <h1 class="mt-5">Справочник</h1>
  <div class="col-md-6">
    <mat-accordion>
      <mat-expansion-panel hideToggle *ngFor="let tip of tips">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{tip.question}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-divider class="pb-3"></mat-divider>
        <p>{{tip.answer}}</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

</div>
</body>
