@import "src/assets/colors.scss";

.panel{
  position: relative;
  transition: all 0.5s ease;
  cursor: pointer;
  top: 0;
}
.panel:hover{
  background: linear-gradient(
      45deg,
      rgba(91, 14, 214, 0.5),
      rgba(29, 236, 197, 0.5) 100%
  );
  top: -10px;
  color: white;
  mat-panel-title{
    transition: all 0.5s ease;
    color: white;
  }
}

.chosen-one{
  background: $blue-m;
  color: white;
}

.row{
  margin-right: 0;
}

.on-hover:hover{
  color: white;
}
